SECRET_KEY=replace-with-a-generated-django-secret-key
POSTGRES_DB=fuelfuel_route_optimizer
POSTGRES_USER=fuelroute_user
POSTGRES_PASSWORD=replace-with-your-postgres-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CACHE_LOCATION=fuelfuel-route-optimizer
CACHE_TIMEOUT=300

DJANGO_ENV=local
DEBUG=True
ENABLE_NPLUSONE=False
ENABLE_BROWSER_RELOAD=False
